/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	/*header start*/
	header {
    	padding: 10px 0;
	}
	.menu ul li a {
    	padding: 10px 0 0 !important;
    	font-size: 20px !important;
    	text-align: right;
	}
	/*header end*/
	/*slider start*/
	.slider {
    	padding-top: 0px;
    	padding-bottom: 80px;
	}
	.c_ind {
    	bottom: -75px;
	}
	.c_ind [data-bs-target] {
    	width: 13px;
    	height: 13px;
	}
	.c_text {
   		margin-top: 15px;
	}
	.c_text h1 {
    	font-size: 25px;
	}
	.c_text h2 {
		font-size: 18px;
    	margin-bottom: 20px;
    	margin-right: 0;
	}
	.c_text p {
    	margin-bottom: 20px;
    	margin-right: 0;
	}
	.icon li {
    	margin-right: 25px !important;
	}
	/*slider end*/

	/*feature start*/
	.feature {
    	padding-top: 50px;
    	padding-bottom: 70px;
	}
	.f_h1 {
    	font-size: 25px;
	}
	.f_p {
    	font-size: 17px;
	}
	.f_mt {
   		margin-top: 20px;
   		text-align: center;
	}
	.f_icon a i {
    	margin-bottom: 15px;
    	font-size: 40px;
	}
	.f_text h2 {
    	margin-bottom: 12px;
    	font-size: 20px;
	}
	.f_text p {
    	margin-right: 0;
	}

	/*feature end*/
	/*contact start*/
	.Contact {
    	padding-top: 40px;
    	padding-bottom: 60px;
	}
	.c_form {
    	margin-top: 30px;
    	margin-bottom: 40px;
	}
	.u_email {
		text-align: center;
	}
	.c_icon ul li a {
    	margin-right: 15px !important;
    	font-size: 30px;
	}
	.c_icon ul li a i {
    	width: 40px;
	}
	/*contact end*/
	/*footer start*/
	footer {
    	padding-bottom: 60px;
	}
	.f_1 {
    	text-align: center;
    	margin-bottom: 30px;
	}
	.f_2 {
    	text-align: center;
	}
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	/*header start*/
	header {
    	padding: 10px 0;
	}
	.menu ul li a {
    	padding: 10px 0 0 !important;
    	font-size: 20px;
    	text-align: right;
	}
	/*header end*/
	/*slider start*/
	.slider {
    	padding-top: 0px;
    	padding-bottom: 90px;
	}
	.c_ind {
    	bottom: -80px;
	}
	.c_ind [data-bs-target] {
    	width: 15px;
    	height: 15px;
	}
	.c_text {
   		margin-top: 25px;
	}
	.c_text h2 {
    	margin-bottom: 20px;
    	margin-right: 0;
	}
	.c_text p {
    	margin-bottom: 25px;
    	margin-right: 0;
	}
	.icon li {
    	margin-right: 25px !important;
	}
	/*slider end*/
	/*feature start*/
	.feature {
    	padding-top: 70px;
    	padding-bottom: 90px;
	}
	.f_h1 {
    	font-size: 30px;
	}
	.f_p {
    	font-size: 18px;
	}
	.f_mt {
   		margin-top: 40px;
   		text-align: center;
	}
	.f_icon a i {
    	margin-bottom: 15px;
    	font-size: 40px;
	}
	.f_text p {
    	margin-right: 0;
	}

	/*feature end*/
	/*contact start*/
	.Contact {
    	padding-top: 50px;
    	padding-bottom: 70px;
	}
	.c_form {
    	margin-top: 30px;
    	margin-bottom: 40px;
	}
	.c_icon ul li a {
    	margin-right: 20px !important;
    	font-size: 35px;
	}
	.c_icon ul li a i {
    	width: 40px;
	}
	/*contact end*/
	/*footer start*/
	footer {
    	padding-bottom: 70px;
	}
	.f_1 {
    	text-align: center;
	}
	.f_2 {
    	margin-top: 20px;
    	text-align: center;
	}
	/*footer end*/
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	/*header start*/
	.menu ul li a {
    	padding: 10px 0 0 !important;
    	text-align: right;
	}
	/*header end*/
	/*silder start*/
	.c_text {
   		margin-top: 35px;
	}
	/*silder end*/
	/*feature start*/
	.feature {
    	padding-top: 70px;
    	padding-bottom: 90px;
	}
	.f_mt {
    	margin-top: 50px;
	}
	.f_text h2 {
    	margin-bottom: 12px;
	}
	.f_text p {
    	margin-right: 5px;
	}
	/*feature end*/
	/*contact start*/
	.Contact {
    	padding-top: 80px;
    	padding-bottom: 100px;
	}
	.c_form {
    	margin-top: 30px;
    	margin-bottom: 60px;
	}
	/*contact end*/
	/*footer start*/
	footer {
    	padding-bottom: 90px;
	}

	/*footer end*/

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	/*contact start*/
	.c_icon ul li a {
    	margin-right: 19px !important;
	}
	/*contact end*/
}

/*X-Large devices (large desktops, less than 1400px)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {
	
}

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
	
}